### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
#declared the value i.e total number of players to the purchase data csv
#print total number of players to generate a “list” of all players
#removed duplicates and located specific colunms with the locate function
#printed total number of players
total_number_of_players=purchase_data
(total_number_of_players)
total_number_of_players=total_number_of_players.loc[:,["Gender","SN","Age"]]
total_number_of_players=total_number_of_players.drop_duplicates()
total_number_of_players

     Gender             SN  Age
0      Male        Lisim78   20
1      Male    Lisovynya38   40
2      Male     Ithergue48   24
3      Male  Chamassasya86   24
4      Male      Iskosia90   23
..      ...            ...  ...
773    Male         Hala31   21
774    Male     Jiskjask80   11
775  Female     Aethedru70   21
777    Male     Yathecal72   20
778    Male        Sisur91    7

[576 rows x 3 columns]

In [3]:
#declared players to the total number of players to count players and extract the number from the first colunm
players=total_number_of_players.count()[0]
players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#declared unique items and pulled info from Item ID colunm from purchase data csv. Preformed len(lenght) function to caculate total number of unique id`s
unique_items = purchase_data["Item ID"].unique()
unique_items = len(unique_items)
unique_items

179

In [5]:
#declared value “average price” pull from purchase data csv and use price colunm to get the mean using mean function
average_price = purchase_data["Price"].mean()
average_price

3.050987179487176

In [6]:
#declared value “number_of_purch” pull from purchase data csv and use price colunm to get the mean using count function
number_of_purch = purchase_data["Price"].count()
number_of_purch

780

In [7]:
#declared value “total_revenue” pull from purchase data csv and use price colunm to get the mean using sum function
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [8]:
#creating a dataframe with a dictionary
result_table=pd.DataFrame({"Number of Unique Items":[unique_items], "Total Revenue":[total_revenue], "Number of Purchases":[number_of_purch],"Average Price":[average_price]})
result_table
result_table["Total Revenue"].value_counts()
result_table

   Number of Unique Items  Total Revenue  Number of Purchases  Average Price
0                     179        2379.77                  780       3.050987

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
#counted to get specifics and group
#removed duplicates and located specific colunms with the locate function
#run drop duplicate command to remove duplicates
#printed total number of genders
gender=purchase_data[["SN","Gender"]]
gender
gender
gender=gender.drop_duplicates()
gender
count=gender["Gender"].value_counts()
count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [10]:
#confirmed total counts, not really sure why but I did
total_count=[count[0],count[1],count[2]]
total_count
percent = np.round((total_count[0]/gender.shape[0]*100),2), np.round((total_count[1]/gender.shape[0]*100),2),np.round((total_count[2]/gender.shape[0]*100),2)

percent

(84.03, 14.06, 1.91)

In [11]:
total_percent = pd.DataFrame({"Percent of Players":percent,"Total Count": total_count})
total_percent.index=(["Male","Female","Other/Non-Disclosed"])
total_percent

                     Percent of Players  Total Count
Male                              84.03          484
Female                            14.06           81
Other/Non-Disclosed                1.91           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
genderaverage=round(purchase_data.groupby("Gender").mean(),2)
genderaverage

                       Purchase ID    Age  Item ID  Price
Gender
Female                      379.38  21.35    85.48   3.20
Male                        392.52  22.92    93.10   3.02
Other / Non-Disclosed       334.60  24.20    80.80   3.35

In [13]:
pcmale_avg_purchase_count = round(purchase_data.shape[0]/count[0],2)
pcmale_avg_purchase_count
pcfemale_avg_purchase_count = round(purchase_data.shape[0]/count[1],2)
pcfemale_avg_purchase_count

9.63

In [14]:
total_purch_price=purchase_data[["Price","Gender"]].groupby("Gender").sum()
total_purch_price
total_purch_price = total_purch_price["Price"].map("${:,.2f}".format)
total_purch_price

Gender
Female                     $361.94
Male                     $1,967.64
Other / Non-Disclosed       $50.19
Name: Price, dtype: object

In [15]:
gender=round(purchase_data.groupby(["Gender"])["Price"].agg(["count","mean","sum"]),2)
gender

                       count  mean      sum
Gender
Female                   113  3.20   361.94
Male                     652  3.02  1967.64
Other / Non-Disclosed     15  3.35    50.19

In [16]:
gender.columns = [ "Purchase Count","Average Purchase Price","Avg Total Purchase per Person"]
gender

,Purchase Count,Average Purchase Price,Avg Total Purchase per Person
Gender,,,
Female,113,3.20,361.94
Male,652,3.02,1967.64
Other / Non-Disclosed,15,3.35,50.19

In [17]:
purchasecount = gender.loc[:,"Purchase Count"]
purchasecount

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase Count, dtype: int64

In [18]:
avgPurch = gender.loc[:,"Average Purchase Price"]
avgPurch

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Average Purchase Price, dtype: float64

In [19]:
avgPurchItems = round(purchasecount.div(count),2)
avgPurchItems

Female                   1.40
Male                     1.35
Other / Non-Disclosed    1.36
dtype: float64

In [20]:
Total_Purchase_Value = round(avgPurchItems.mul(avgPurch),2)
Total_Purchase_Value

Female                   4.48
Male                     4.08
Other / Non-Disclosed    4.56
dtype: float64

In [21]:
gender.insert(2,"Total Purchase Value", Total_Purchase_Value, allow_duplicates = False)
gender
gender["Average Purchase Price"] = gender["Average Purchase Price"].map("${:,.2f}".format)
gender["Total Purchase Value"] = gender["Total Purchase Value"].map("${:,.2f}".format)
gender["Avg Total Purchase per Person"] = gender["Avg Total Purchase per Person"].map("${:,.2f}".format)
gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$4.48,$361.94
Male,652,$3.02,$4.08,"$1,967.64"
Other / Non-Disclosed,15,$3.35,$4.56,$50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [22]:
bins = [0, 9, 14, 19, 24, 29,34,39,999]
labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_data["AgeBined"]= pd.cut(purchase_data['Age'], bins=bins, labels=labels)
purchase_data.head()
age_df = purchase_data
age_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,AgeBined
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [23]:
#total_by_age = round(age_df.groupby(["AgeBined"])["Price"].agg(["count","mean","sum"]),2)
avg_age_df = round(age_df.mean(),2)
avg_age_df

Purchase ID    389.50
Age             22.71
Item ID         91.76
Price            3.05
dtype: float64

## Purchasing Analysis (Age)

In [24]:
Total_age_count = round(purchase_data.groupby(["AgeBined"]).count())
Total_age_count

          Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
AgeBined
<10                23   23   23      23       23         23     23
10-14              28   28   28      28       28         28     28
15-19             136  136  136     136      136        136    136
20-24             365  365  365     365      365        365    365
25-29             101  101  101     101      101        101    101
30-34              73   73   73      73       73         73     73
35-39              41   41   41      41       41         41     41
40+                13   13   13      13       13         13     13

In [25]:
purchases_age_group = age_df["AgeBined"].value_counts()
purchases_age_group

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
<10       23
40+       13
Name: AgeBined, dtype: int64

In [26]:
age=age_df[["SN","AgeBined"]]
age
age=age.drop_duplicates()
age

                SN AgeBined
0          Lisim78    20-24
1      Lisovynya38      40+
2       Ithergue48    20-24
3    Chamassasya86    20-24
4        Iskosia90    20-24
..             ...      ...
773         Hala31    20-24
774     Jiskjask80    10-14
775     Aethedru70    20-24
777     Yathecal72    20-24
778        Sisur91      <10

[576 rows x 2 columns]

In [27]:
individuals_by_age_group=age["AgeBined"].value_counts()
individuals_by_age_group
individuals_by_age_group.columns = ["Age Group","Count"]
individuals_by_age_group

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
<10       17
40+       12
Name: AgeBined, dtype: int64

In [28]:
number_of_players=purchase_data.loc[:,["SN"]]
number_of_players=number_of_players.drop_duplicates()
count_of_unique_players = len(number_of_players)
count_of_unique_players

576

In [32]:
percent_of_players_by_age_group = round(individuals_by_age_group.div(count_of_unique_players)*100,2)
age_percent

20-24    44.79
15-19    18.58
25-29    13.37
30-34     9.03
35-39     5.38
10-14     3.82
<10       2.95
40+       2.08
Name: AgeBined, dtype: float64

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame